
* {
box-sizing: border-box;

}

#ski {
    background-color: burlywood;
    font-size: 1em;
    

    
}

#ski ul {
    list-style-type: none;
    text-align: center;
    padding: 0%;
}

.wrapper {
  
    width: 95%;
    text-align: center;
    margin: auto;
      
}


a {
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 1.5em;
    
}


.max {
    list-style-type: none;
    
}

.nav1 {
    display: block;
    margin: 0.35em;
    padding: 1em;
    box-shadow: -2px 2px 3px grey;
    background-color: rgb(250, 248, 248);
 

}

.first-par {
    font-size: 1.25em;
    line-height: 1.5em;
}

.port {
     width: 90%; 
     margin: 0 auto;
     display: block;
     object-position: center;

}


.section-tag{
    margin-bottom: 0;
    margin-left: 0.45em;
    margin-right: 0.45em;
    margin-top: 0.45em;

    padding: 0.45em;
    display: inline-block;
}

p {
    line-height: 1.25em;
    margin: 5px;
    font-weight: 600;
    font-size: 1.39em;
    font-family: 'Roboto', sans-serif;
    
    text-align: center;
}

.interested-in  {
    color: rgb(190, 241, 212);
}

.bottom{
    margin-bottom: 5em;
}

footer{

box-sizing: border-box;
margin: auto;
text-align: center;
padding: 0%;
margin-top: 5em;

}


.last-line h3 {
    margin: 0px;
}

h4 {
    margin: 0px;
}

.logo img {

width: 100px;
height: 100px;
}

#contact {
    margin-top: 6em;
    width: 90%;
}

.bottom-name {
    float: left;
   margin-left: 5%;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 32%;
}

.bottom-nav {

    float: right;
    width: 32%;
    margin-right: 5%;
    margin-top: 7%;
    margin-bottom: 7%;
    
}

.last-nav {
    display: none;
}

.port-solo {
    margin: 20px;
    display: block;
}
/* Styles for tablet screen sizes */
@media screen and (min-width: 768px) {

    .col {
        min-height: 425px;
      }

#marketingg-page {
    width: 90%;
}

   #go2 {
       width: 50%;
   }

.last-nav {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50%;
    

}
.bottom {
    display: none;
}

.nav2 {
    font-size: 1em;
    margin-left: 10%;
}

#nam {
    font-size: 1.25em;
    padding-left: 15%;
}

.goleft {
    float: left;
    width: 30%;
}

.goright {

    float: right;
    

}

    .nav1 {
    
        margin: 0.35em;
        padding: 1em;
    }


    
    #at {
        display: block;
        width: 100%;
    }
 
    .wrapper {
  
            width: 97%;
            text-align: center;
            margin: auto;
          
    }
    

    .first-thing {
    float: right;
    width: 40%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    }
    
    .starter-speech {
    float: left;
    width: 45%;
    padding: 1%;
    padding-top: 5%;
    display: inline-block;
    padding-left: 5%;
    }
    
    
    .marketing-page {
        float: left;
        width: 50%;
        
        display: inline-block;
        
    
    }
    
    .search-page {
        float: right;
        width: 50%;
        
        display: inline-block;
    
    }
    
    .travel-app {
        float: left;
        width: 50%;
        
        display: inline-block;
    
    }
    
    .map-f-spots {
        float: right;
        width: 50%;
        
        display: inline-block;
    
    }
    
    .photo-gallery {
        float: right;
        width: 50%;
        
        display: inline-block;
    
    }
    
    .calculator {
        float: left;
        width: 50%;
        
        display: inline-block;
    
    }
    .clearfix {
        content: '';
        display: table;
        clear: both;
        margin: auto;
    }

    .nav1 {
        color: red;
        display: inline;
       
        
        width: 30%;
        
        
    }

    #portfolio {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        padding: 1px;
        width: 90%;

    }
    .max li {
        display: inline;
    }

    .nav1 {

        box-shadow: none;
        background-color: white;
    }

    #botnav {
        float: none;

}
/* Styles for desktop screen sizes */
@media screen and (min-width: 1024px) {

    #go2 {
        width: 50%;
    }

    .max1 {
display: inline-block;

    }

#at {
   
    display: inline;
    margin-left: 100px;
}

#botnav {
    float: none;
}
.max {float: right;}
    #marketingg-page {
        width: 90%;
    }
     
    .wrapper {
        width: 100%;   
        margin: 0 auto;
    
       }

   

   
   
   
    .fix {
        padding-bottom: 1px;
        margin-bottom: 1px;


    }

    .first-thing {
    float: right;
    width: 45%;
    
    
    }
    
    .starter-speech {
        float: left;
        width: 45%;
        padding: 1%;
        padding-top: 12%;
        display: inline-block;
        



        }
    
        
    
    
    .marketing-page {
        float: left;
        width: 33.2%;
        
        display: inline-block;
        
    
    }
    
    .search-page {
        float: right;
        width: 33.2%;
        
        display: inline-block;
    
    }
    
    .travel-app {
        float: left;
        width: 33.2%;
        
        display: inline-block;
    
    }
    
    .map-f-spots {
        float: right;
        width: 33.2%;
        
        display: inline-block;
    
    }
    
    .photo-gallery {
        float: right;
        width: 33.2%;
        
        display: inline-block;
    
    }
    
    .calculator {
        float: left;
        width: 33.2%;
        
        display: inline-block;
    
    }

   

}

   