a {
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 1.5em;
    
}


.max {
    list-style-type: none;
    
}

.nav1 {
 display: block;
 margin: 0.35em;
 padding: 1em;
 box-shadow: -2px 2px 3px grey;
 background-color: rgb(250, 248, 248);
 

}

article {
    background: radial-gradient(circle,white,lightgrey,transparent 90%);

}
.first-par {
    font-size: 1.25em;
    line-height: 1.5em;
}

.port {
    width: 90%;
    
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;

    display: block;
    object-position: center;

}

.section-tag{
    margin-bottom: 0;
    margin-left: 0.45em;
    margin-right: 0.45em;
    margin-top: 0.45em;

    padding: 0.45em;
    display: inline-block;
}

p {
    line-height: 1.25em;
    font-weight: 600;
    font-size: 1.39em;
    font-family: 'Roboto', sans-serif;
    
    text-align: center;
}

.interested-in  {
    color: rgb(190, 241, 212);
}

.bottom{
    margin-bottom: 5em;
}

footer{

box-sizing: border-box;
margin: auto;
text-align: center;
padding: 0%;
margin-top: 5em;

}

.wrapper {
  
    width: 95%;
    text-align: center;
    margin: auto;
      
}
.last-line h3 {
    margin: 0px;
}

h4 {
    margin: 0px;
}

.logo img {

width: 100px;
height: 100px;
}

#contact {
    margin-top: 6em;
    width: 90%;
}

.bottom-name {
    float: left;
   margin-left: 5%;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 32%;
}

.bottom-nav {

    float: right;
    width: 32%;
    margin-right: 5%;
    margin-top: 7%;
    margin-bottom: 7%;
    
}


/* Styles for tablet screen sizes */
@media screen and (min-width: 768px) {
    .fix {
        padding-bottom: 1px;
        margin-bottom: 1px;
    }
    
    .navigation-bar {
    
    
    }
    
    .first-thing {
    float: right;
    width: 40%;
    
    
    }
    
    .starter-speech {
    float: left;
    width: 55%;
    padding: 1%;
    display: inline-block;
    
    
    }
    
    .starter {
        background-color: red;
        box-shadow: saddlebrown;
        
    }
    
    .marketing-page {
        float: left;
        width: 45%;
        padding: 1%;
        display: inline-block;
        
    
    }
    
    .search-page {
        float: right;
        width: 45%;
        padding: 1%;
        display: inline-block;
    
    }
    
    .travel-app {
        float: left;
        width: 45%;
        padding: 1%;
        display: inline-block;
    
    }
    
    .map-f-spots {
        float: right;
        width: 45%;
        padding: 1%;
        display: inline-block;
    
    }
    
    .photo-gallery {
        float: right;
        width: 45%;
        padding: 1%;
        display: inline-block;
    
    }
    
    .calculator {
        float: left;
        width: 45%;
        padding: 1%;
        display: inline-block;
    
    }

}


    
    
    
     
    

    /* Styles for desktop screen sizes */
    @media screen and (min-width: 1024px) {
        .fix {
            padding-bottom: 1px;
            margin-bottom: 1px;
    
        }
    
        .navigation-bar {
    
    
        }
        
        .first-thing {
        float: right;
        width: 45%;
        
        
        }
        
        .starter-speech {
        float: left;
        width: 45%;
        padding: 1%;
        display: inline-block;
        vertical-align: auto;
        
        }
        
            
        
        
        .marketing-page {
            float: left;
            width: 30%;
            padding: 1%;
            display: inline-block;
            
        
        }
        
        .search-page {
            float: right;
            width: 30%;
            padding: 1%;
            display: inline-block;
        
        }
        
        .travel-app {
            float: left;
            width: 30%;
            padding: 1%;
            display: inline-block;
        
        }
        
        .map-f-spots {
            float: right;
            width: 30%;
            padding: 1%;
            display: inline-block;
        
        }
        
        .photo-gallery {
            float: right;
            width: 30%;
            padding: 1%;
            display: inline-block;
        
        }
        
        .calculator {
            float: left;
            width: 30%;
            padding: 1%;
            display: inline-block;
        
        }
    
    

    }
    
       